# See /usr/share/postfix/main.cf.dist for a commented, more complete version
# Modified as per http://sealedabstract.com/code/nsa-proof-your-e-mail-in-2-hours/

{# smtpd vs smtp
smtpd - SMTP daemon process for handling **incoming** mail
smtp  - SMTP daemon process for delivering **outgoing** mail
https://serverfault.com/questions/696936/whats-the-difference-between-postfix-smtp-and-postfix-smtpd
#}

smtpd_banner = $myhostname ESMTP $mail_name
biff = no {# same as nuweiba, sovereign, homebox #}

# Accept messages up to 50MB
{# nuweiba used double the message_size_limit = 104857600 #}
{# homebox calculates a size limit based on the chosed max attachment size #}
message_size_limit = 51200000

# appending .domain is the MUA's job.
append_dot_mydomain = no {# same as nuweiba, sovereign, homebox #}

# The time after which the sender receives a copy of the message headers of mail that is still queued
# Uncomment the next line to generate "delayed mail" warnings
{# sovereign and nuweiba keeps this line commented, but homebox uncomments it #}
#delay_warning_time = 4h

readme_directory = no {# same as nuweiba, sovereign #}


{# NOTE ON RESTRICTIONS
Either the `relay_restrictions` or the `recipient_restrictions` parameter MUST specify
at least one of the following restrictions:
  reject
  reject_unauth_destionation
  defer
  defer_if_permit
  defer_unauth_destination
otherwise Postfix will refuse to receive mail.

nuweiba used the following restriction parameters:
  smtpd_helo_restrictions =
    permit_mynetworks
    reject_non_fqdn_helo_hostname
    reject_invalid_helo_hostname
    permit
  smtpd_sender_restrictions =
    reject_unknown_sender_domain
    reject_sender_login_mismatch
  smtpd_recipient_restrictions =
    reject_invalid_hostname
    reject_unknown_sender_domain
    reject_unknown_recipient_domain
    reject_unauth_pipelining
    permit_mynetworks
    permit_sasl_authenticated
    reject_unauth_destination
    reject_non_fqdn_sender
  smtpd_relay_restrictions =
    permit_mynetworks
    permit_sasl_authenticated
    reject_unauth_destination

sovereign uses the following restriction parameters:
  smtpd_helo_restrictions = permit_mynetworks, reject_invalid_hostname
  smtpd_sender_restrictions = reject_unknown_address
  smtpd_recipient_restrictions =
    permit_sasl_authenticated,
    permit_mynetworks,
    reject_unauth_pipelining,
    reject_unauth_destination,
    reject_invalid_hostname,
    reject_non_fqdn_hostname,
    reject_non_fqdn_recipient,
    reject_unknown_recipient_domain,
    permit
  smtpd_client_restrictions = permit_sasl_authenticated

homebox uses only the following restriction parameter:
  smtpd_relay_restrictions =
    permit_mynetworks
    permit_sasl_authenticated
    defer_unauth_destination
    check_policy_service unix:private/policy-spf
    check_policy_service inet:localhost:{{ mail.quota.port }}
    reject_rbl_client {{ url }}
    permit

In general, I will follow sovereign's example (as this playbook is built primarily on sovereign)
#}
# Antispam
smtpd_helo_required = yes {# same as nuweiba, sovereign #}
{# used by sovereign, not used by homebox #}
smtpd_helo_restrictions = permit_mynetworks, reject_invalid_hostname {# same as sovereign #}
smtpd_sender_restrictions = reject_unknown_address {# same as sovereign #}

{# this section verbatim from sovereign #}
disable_vrfy_command = yes
strict_rfc821_envelopes = yes
invalid_hostname_reject_code = 554
multi_recipient_bounce_reject_code = 554
non_fqdn_reject_code = 554
relay_domains_reject_code = 554
unknown_address_reject_code = 554
unknown_client_reject_code = 554
unknown_hostname_reject_code = 554
unknown_local_recipient_reject_code = 554
unknown_relay_recipient_reject_code = 554
unknown_virtual_alias_reject_code = 554
unknown_virtual_mailbox_reject_code = 554
unverified_recipient_reject_code = 554
unverified_sender_reject_code = 554


# TLS parameters
smtpd_use_tls=yes {# same as sovereign, commented out by nuweiba #}
smtpd_tls_auth_only = yes {# same as sovereign, homebox, nuweiba #}
smtpd_tls_security_level = may
smtp_tls_security_level = may {# same as sovereign, homebox, nuweiba #}
{# https://serverfault.com/questions/699908/how-to-verify-if-my-postfix-uses-really-tls-to-send-outgoing-mails #}
smtp_tls_loglevel = 1 {# same as homebox #}
smtpd_tls_loglevel = 1 {# same as homebox #}

smtpd_tls_cert_file=/etc/letsencrypt/live/{{ mail_domain }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ mail_domain }}/privkey.pem
smtpd_tls_CAfile=/etc/letsencrypt/live/{{ mail_domain }}/fullchain.pem

smtpd_tls_mandatory_protocols=!SSLv2,!SSLv3
smtp_tls_mandatory_protocols=!SSLv2,!SSLv3
smtp_tls_protocols = !SSLv2,!SSLv3
smtpd_tls_protocols = !SSLv2,!SSLv3
smtpd_tls_received_header = yes {# same as nuweiba #}
smtp_tls_note_starttls_offer = yes {# same as nuweiba #}
# http://www.postfix.org/FORWARD_SECRECY_README.html
smtp_tls_ciphers = medium
# not actually 1024 bits, this applies to all DHE >= 1024 bits
smtpd_tls_dh1024_param_file = /etc/ssl/private/dhparam.pem

# Authentication via SASL
smtpd_sasl_auth_enable = yes {# same as nuweiba, homebox #}
smtpd_sasl_type = dovecot {# same as nuweiba, homebox #}
smtpd_sasl_path = private/auth
broken_sasl_auth_clients = yes {# same as nuweiba, homebox #}
smtpd_sasl_security_options = noanonymous {# same as nuweiba, homebox #}


smtpd_recipient_restrictions =
  permit_sasl_authenticated,
  permit_mynetworks,
  reject_unauth_pipelining,
  reject_unauth_destination,
  reject_invalid_hostname,
  reject_non_fqdn_hostname,
  reject_non_fqdn_recipient,
  reject_unknown_recipient_domain,
  permit

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

myhostname = {{ mail_domain }}
myorigin = $mydomain
{# nuweiba sets myorigin:
myorigin = /etc/mailname #}
alias_maps = hash:/etc/aliases {# same as nuweiba #}
alias_database = hash:/etc/aliases {# same as nuweiba #}
mydestination = localhost
relayhost =
mynetworks = {{ ' '.join(mail.postfix.mynetworks) }}
#mailbox_command = procmail -a "$EXTENSION"
{# nuweiba sets mailbox_command:
mailbox_command = /usr/lib/dovecot/deliver -c /etc/dovecot/conf.d/01-mail-stack-delivery.conf -m "${EXTENSION}" #}
mailbox_size_limit = 0 {# same as nuweiba #}
recipient_delimiter = + {# same as nuweiba #}
inet_interfaces = all {# same as nuweiba #}

# Dovecot db
{# this section follows sovereign #}
virtual_transport = lmtp:unix:private/dovecot-lmtp
mailbox_transport = lmtp:unix:private/dovecot-lmtp
dovecot_destination_recipient_limit = 1 {# same as sovereign, nuweiba #}
virtual_mailbox_domains = pgsql:/etc/postfix/pgsql-virtual-mailbox-domains.cf
virtual_mailbox_maps = pgsql:/etc/postfix/pgsql-virtual-mailbox-maps.cf
virtual_alias_maps = pgsql:/etc/postfix/pgsql-virtual-alias-maps.cf
local_recipient_maps = $virtual_mailbox_maps

# Milters: Rspamd
{# this section follows sovereign #}
smtpd_milters = inet:127.0.0.1:11332 {# this corresponds to port number of rspamd process #}
non_smtpd_milters = $smtpd_milters
milter_protocol = 6
milter_mail_macros = i {mail_addr} {client_addr} {client_name} {auth_authen} {auth_type}
milter_default_action = accept

smtpd_client_restrictions = permit_sasl_authenticated

# Postscreen
{# this section follows sovereign #}
postscreen_access_list = permit_mynetworks
postscreen_dnsbl_sites =
  sbl-xbl.spamhaus.org*2
  cbl.abuseat.org*2
  bl.spamcop.net*2
  dnsbl.sorbs.net*1
  spam.spamrats.com*2
postscreen_dnsbl_threshold = 3
postscreen_dnsbl_action = enforce
postscreen_greet_action = enforce

{% if mail_header_privacy == 1 %}
# Remove local client IP from headers
smtp_header_checks = pcre:/etc/postfix/maps/smtp_header_checks.pcre
{% endif %}

# PostSRSd settings
{#
These were the same settings as used on nuweiba. But it seems they are not working anymore.

#}
sender_canonical_maps = tcp:localhost:10001 {# this corresponds to port number of postsrsd process #}
sender_canonical_classes = envelope_sender
recipient_canonical_maps = tcp:localhost:10002
recipient_canonical_classes = envelope_recipient,header_recipient
